<div class = "title">
	<h1 class="Title">Transit Logs</h1>
	<%= link_to 'Statistic', trans_logs_statistic_path %>  
</div>
<table class="table table-striped">
	<tr>
		<th>Card ID</th>
		<th>Bus Number</th>
		<th>Boarding Time</th>
		<th>Boarding Place</th>
		<th>Landing Time</th>
		<th>Landing Place</th>
		<th>Cost</th>
		<th>Discounted Cost</th>
	</tr>

<% @trans_logs.each do |log| %>
	<tr>
		<td><%= log.cardID %></td>
		<td><%= log.busRouteNm %></td>
		<td><%= log.boardingTime %></td>
		<td><%= log.boardingPlace %></td>
		<td><%= log.landingTime %></td>
		<td><%= log.landingPlace %></td>
		<td><%= log.cost %></td>
		<td><%= log.discountedCost %></td>
	</tr>
<% end %>
</table>

<br />


