<link rel="style" type="text/css" href="style.css"/>
<h1 class="Title"> Transfer Log </h1>
		
<table class="table table-striped">
<div id=transfersubject">
<tr>
		<th>Card ID</th>
		<th>Transfer Time</th>
		<th>Transfer From</th>
		<th>Transfer To </th>
		<th>Cost</th>
	</tr>
</div>
<div id=transfercontents>
<% @transfer_logs.each do |log| %>
	<% @transferFrom = TransLog.find(log.transferFrom) %>
	<% @transferTo = TransLog.find(log.transferTo) %>
	<tr>
		<td><%= log.cardID %></td>
		<td><%= @transferTo.boardingTime %></td>
		<td><%= @transferFrom.busRouteNm %></td>
		<td><%= @transferTo.busRouteNm %></td>
		<td><%= @transferTo.cost %></td>
	</tr>
</div>
<% end %>
</table>

<br />


