<!DOCTYPE html>
<html>
<head>
  <title>TrafficCardSystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="style" type="text/css" href="style.css"/>
</head>

<body>

<%= render :partial => "layouts/header" %>

<%= render :partial => "layouts/menu_for_producers" %>

<div class = "span10">
	<%= yield %>
</div>

</div>

</body>
</html>
